@font-face {
  font-family: "ExpoArabic";
  src: url(../fonts/ExpoArabic/ExpoArabic-Medium.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "ExpoArabic";
  src: url(../fonts/ExpoArabic/ExpoArabic-Book.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "ExpoArabic";
  src: url(../fonts/ExpoArabic/ExpoArabic-SemiBold.ttf);
  font-weight: 900;
}
* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "ExpoArabic", sans-serif;
  scroll-behavior: smooth;
}
*::-moz-selection {
  background-color: #342E74;
  color: #fff;
}
*::selection {
  background-color: #342E74;
  color: #fff;
}
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background-color: #ccc;
}
*::-webkit-scrollbar-thumb {
  background: #342E74;
  border-radius: 8px;
}
*::-webkit-scrollbar-thumb:hover {
  background: #7BBFD2;
}

.overflowNone {
  overflow: hidden;
}

.btn:focus,
button:focus,
input:focus,
.form-control:focus {
  outline-width: 0px !important;
  outline-color: transparent !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.owl-theme .owl-dots .owl-dot span {
  width: 20px;
  height: 4px;
  border-radius: 4px;
  background-color: #FFD371;
  opacity: 0.5;
  transition: all 0.5s linear;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  opacity: 1;
}

.overflowNone {
  overflow: hidden;
}

span, p, a {
  font-size: 18px !important;
  font-weight: 700 !important;
}

h1, h2, h3, h4, h5, h6, .page-title-box h4 {
  font-weight: 900 !important;
  font-size: 25px !important;
}

.metismenu.list-unstyled li {
  padding: 10px 0px 15px 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.metismenu.list-unstyled li:last-child {
  border: 0px !important;
}

.sub-menu li {
  padding: 0px !important;
  border: 0px !important;
}

.card {
  height: 100%;
}

textarea {
  resize: none;
}

.flex-contain {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.navbar-header,
.simplebar-content-wrapper,
.btn-custom,
.navbar-brand-box {
  background-color: #342E74 !important;
}

.icon-btn {
  width: 40px !important;
  height: 40px !important;
  padding: 0px !important;
}

td {
  vertical-align: middle !important;
}
td .table-img {
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}

table {
  border: 1px solid rgba(52, 46, 116, 0.1);
}

.btn-custom {
  color: #fff;
  width: 200px;
  background: #342E74;
}
.btn-custom i {
  transition: all 0.3s linear;
}
.btn-custom:hover i {
  transform: rotate(45deg);
  color: #fff;
}
.btn-custom:hover span {
  color: #fff;
}

label {
  color: #342E74;
}

.vertical-menu .vertical-menu-btn i {
  color: #fff !important;
}

.noti-icon .badge {
  font-size: 10px !important;
}

.app-search input::-moz-placeholder {
  color: #fff;
}

.app-search input:-ms-input-placeholder {
  color: #fff;
}

#sidebar-menu ul li ul.sub-menu li a,
#sidebar-menu ul li ul.sub-menu li a:hover,
#sidebar-menu ul li a i,
#sidebar-menu ul li a:hover i,
#sidebar-menu ul li a:hover,
#sidebar-menu ul li a,
.app-search span,
.app-search input,
.app-search input:hover,
.noti-icon i,
.header-item,
.header-item:hover,
.app-search input::placeholder {
  color: #fff;
}

.navbar-header .dropdown.show .header-item,
.mm-active > a {
  background: transparent !important;
}

.profile-img {
  width: 100px;
  height: 100px;
  border: 2px solid #ddd;
  border-radius: 50%;
  overflow: hidden;
}
.profile-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

table {
  width: 100% !important;
}
table thead {
  background-color: #342E74;
}
table thead th {
  color: #fff !important;
}
table th, table td {
  text-align: center;
}

.upload-content {
  width: 100px;
  height: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
}
.upload-content img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}
.upload-content .from-image-upload {
  position: absolute;
  bottom: 0;
  right: 0px;
}
.upload-content input[type=file] {
  display: none;
}
.upload-content .pen {
  width: 30px;
  margin: 0px;
  height: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
}
.upload-content .pen i {
  color: var(--secondary);
  font-size: 15px;
}

h1, h2, h3, h4, h5, h6, .heading {
  color: var(--primary);
}

.mm-active .active, .mm-active .active i, .mm-active, .mm-active > i, th, h4 span {
  color: var(--secondary) !important;
}

.logo-lg img {
  width: 120px;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.inovice-data-contain {
  width: 100%;
  padding: 20px 0px 0px;
}
.inovice-data-contain .logo {
  width: 100%;
  height: 177px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: right;
     object-position: right;
}
.inovice-data-contain .heading {
  width: 100%;
  text-align: center;
  font-size: 60px;
  margin: 0px 0px 5px 0px;
  font-weight: 900;
}
.inovice-data-contain .heading .primary {
  color: var(--primary) !important;
}
.inovice-data-contain .heading .secondary {
  color: var(--secondary) !important;
}
.inovice-data-contain .inovice-name {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inovice-data-contain .inovice-name.invoice-footer {
  width: 30%;
  float: left;
}
.inovice-data-contain .inovice-name.flex-col-shape {
  flex-direction: row !important;
}
.inovice-data-contain .inovice-name.flex-col-shape li {
  border-left: 1px solid #444 !important;
  padding: 0px 10px 0px 10px !important;
}
.inovice-data-contain .inovice-name.flex-col-shape li:last-child {
  border-left: none !important;
}
.inovice-data-contain .inovice-name li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-bottom: 5px;
  width: 100%;
  border: 0px !important;
}
.inovice-data-contain .inovice-name li.border {
  border-bottom: 1px solid rgba(68, 68, 68, 0.2) !important;
}
.inovice-data-contain .inovice-name li .name {
  font-size: 13px;
  font-weight: 600;
  color: #444;
}
.inovice-data-contain .inovice-table {
  width: 100% !important;
}
.inovice-data-contain .inovice-table.table-bordered {
  border: 1px solid rgba(68, 68, 68, 0.4) !important;
}
.inovice-data-contain .inovice-table.table-bordered th, .inovice-data-contain .inovice-table.table-bordered td {
  border: 1px solid rgba(68, 68, 68, 0.4) !important;
}
.inovice-data-contain .inovice-table th {
  background-color: #00A79D;
  text-align: center;
}
.inovice-data-contain .inovice-table th .name {
  display: block;
  color: #fff;
  font-size: 13px;
  font-weight: 900;
}
.inovice-data-contain .inovice-table th .name.inline {
  display: inline-block !important;
}
.inovice-data-contain .inovice-table th .name.inline:first-child {
  margin-left: 40px;
}
.inovice-data-contain .inovice-table th .name.inline:last-child {
  margin-right: 40px;
}
.inovice-data-contain .inovice-table td {
  height: 40px !important;
}
.inovice-data-contain .inovice-table .offer-cell {
  height: 70px !important;
}
.inovice-data-contain .inovice-table .contain li {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-between;
  padding: 0px 20px;
}
.inovice-data-contain .inovice-table .contain li span {
  color: var(--secondary);
  font-size: 13px;
  font-weight: 500;
}
.inovice-data-contain .inovice-table p {
  margin: 0px;
}
.inovice-data-contain .data {
  font-size: 15px;
  font-weight: 500;
  color: #444 !important;
  margin-bottom: 5px;
}
.inovice-data-contain .colorData {
  color: var(--primary);
  font-size: 15px;
  font-weight: 900;
  margin: 0px;
}
.inovice-data-contain .black-data {
  font-size: 15px;
  font-weight: 500;
  color: #000 !important;
  margin-bottom: 5px;
}
.inovice-data-contain .bold-list {
  list-style: disc;
  padding: 0px 20px;
}
.inovice-data-contain .bold-list li {
  font-size: 15px;
  font-weight: 500;
  color: #000 !important;
  margin-bottom: 5px;
}
.inovice-data-contain .done-footer {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  text-align: center;
  float: left;
}
.inovice-data-contain .done-footer li {
  font-size: 15px;
  font-weight: 900;
  color: #000 !important;
  margin-bottom: 5px;
}
.inovice-data-contain .copyrights {
  padding: 20px 0px;
  background-color: var(--secondary);
  width: 100%;
  position: relative;
  top: 81px;
  margin-top: 40px;
}
.inovice-data-contain .copyrights .qr-contain {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: -100px;
}
.inovice-data-contain .copyrights .qr-code {
  width: 150px;
  height: 150px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: #fff;
  -o-object-position: center;
     object-position: center;
}
.inovice-data-contain .copyrights .content p {
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 500;
}

.authentication-bg {
  background-color: #fff !important;
}

.login {
  width: 100%;
  padding: 40px 0px 0px 0px;
}
.login .heading {
  text-align: center;
}
.login .form-data {
  width: 100%;
  padding: 30px 20px 15px;
  background-color: #eee;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(248, 236, 236, 0.5);
}
.login .form-data.forget {
  padding: 100px 20px;
}
.login .form-data.forget .form-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login .custom-bnt {
  width: 200px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 50px;
  background-color: var(--secondary);
  border-radius: 5px;
  outline: none;
  border: none;
  position: relative;
  overflow: hidden;
}
.login .custom-bnt span {
  color: #fff;
  margin-right: 10px;
  font-weight: 700;
  font-size: 16px;
  transition: all 0.2s linear;
}
.login .form-content.flex-contain {
  display: flex;
  align-items: center;
  align-content: center;
}
.login .form-content.flex-contain .form-control {
  width: 300px !important;
}
.login .form-content.flex-contain .form-group {
  margin-bottom: 0px !important;
}
.login .form-content.flex-contain .button-contain {
  margin-right: 10px !important;
  width: 120px !important;
}
.login .form-content .form-control {
  width: 100%;
  height: 50px;
  padding: 0px 20px;
  background-color: transparent;
  border: 1px solid #808080;
  border-radius: 8px;
}
.login .form-content .form-control::-moz-placeholder {
  color: #18191A;
  font-size: 15px;
  font-weight: 500;
}
.login .form-content .form-control:-ms-input-placeholder {
  color: #18191A;
  font-size: 15px;
  font-weight: 500;
}
.login .form-content .form-control::placeholder {
  color: #18191A;
  font-size: 15px;
  font-weight: 500;
}
.login .form-content .form-control:focus, .login .form-content .form-control:visited, .login .form-content .form-control:hover, .login .form-content .form-control:invalid {
  border-color: var(--primary) !important;
}
.login .form-content .form-control:focus::-moz-placeholder, .login .form-content .form-control:visited::-moz-placeholder, .login .form-content .form-control:hover::-moz-placeholder, .login .form-content .form-control:invalid::-moz-placeholder {
  color: var(--primary) !important;
}
.login .form-content .form-control:focus:-ms-input-placeholder, .login .form-content .form-control:visited:-ms-input-placeholder, .login .form-content .form-control:hover:-ms-input-placeholder, .login .form-content .form-control:invalid:-ms-input-placeholder {
  color: var(--primary) !important;
}
.login .form-content .form-control:focus::placeholder, .login .form-content .form-control:visited::placeholder, .login .form-content .form-control:hover::placeholder, .login .form-content .form-control:invalid::placeholder {
  color: var(--primary) !important;
}
.login .form-content .custom-bnt {
  width: 100%;
}
.login .form-content .forget-password a, .login .form-content .sing-in a {
  display: flex;
  align-items: center;
  align-content: center;
}
.login .form-content .forget-password a img, .login .form-content .sing-in a img {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  filter: invert(14%) sepia(84%) saturate(4671%) hue-rotate(180deg) brightness(90%) contrast(87%);
}
.login .form-content .forget-password a span, .login .form-content .sing-in a span {
  margin-right: 5px;
  color: #106579;
  font-size: 15px;
  font-weight: 700;
  line-height: 2rem;
}
.login .form-content .forget-password a span.color, .login .form-content .sing-in a span.color {
  color: #F7A637;
  margin-right: 4px;
}
.login .form-content .sing-in {
  width: 100%;
  display: flex;
  justify-content: flex-end !important;
}
.login .image-content {
  width: 100%;
  padding: 10px 20px;
  height: 100%;
  background-color: #f5ffff;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(248, 236, 236, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.login .image-content img {
  width: 100%;
  height: 350px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.nav-content {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.nav-content .logo {
  width: 120px;
  height: 120px;
  margin: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  border: 0px;
}
.nav li {
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}
.nav li a {
  width: 160px;
  height: 47px;
  border: 1px solid;
  border-radius: 10px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: var(--light);
  font-size: 15px;
  font-weight: 500;
}
.nav li a.red {
  background-color: #EB1D36;
  border-color: #EB1D36;
}
.nav li a.green {
  background-color: #2ca579;
  border-color: #2ca579;
}
.nav li a.blue {
  background-color: #1F4690;
  border-color: #1F4690;
}
.nav li a.yellow {
  background-color: #FFEA11;
  border-color: #FFEA11;
}
.nav li a.black {
  background-color: #100F0F;
  border-color: #100F0F;
}
.nav li a.orange {
  background-color: #EF5B0C;
  border-color: #EF5B0C;
}
.nav li a.active, .nav li a:hover {
  background-color: var(--primary) !important;
  color: var(--light);
  border-color: transparent;
}

.counterup {
  font-size: 35px !important;
  font-weight: 900 !important;
  color: #342E74 !important;
}

.navbar-header .dropdown .dropdown-menu {
  padding: 10px 15px !important;
  border: 3px solid #00A79D !important;
}
.navbar-header .dropdown .dropdown-menu .dropdown-item {
  padding: 10px 0px !important;
  color: #00A79D !important;
  border-bottom: 1px solid rgba(0, 167, 157, 0.2);
}
.navbar-header .dropdown .dropdown-menu .dropdown-item:last-child {
  padding-bottom: 0px !important;
  border-bottom: 0px !important;
}
.navbar-header .dropdown .dropdown-menu .dropdown-item i {
  color: #00A79D !important;
}

#sidebar-menu ul li a i {
  color: #00A79D !important;
  font-size: 30px !important;
  -webkit-margin-end: 20px !important;
          margin-inline-end: 20px !important;
}

#sidebar-menu ul li ul.sub-menu {
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
}

.media {
  background-color: #fff !important;
}

@media (max-width: 900px) {
  .logo-sm img {
    width: 100px;
    height: 60px;
    -o-object-position: center;
       object-position: center;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .dt-buttons.btn-group .btn {
    padding: 0.47rem 0.5rem !important;
  }
  .table-responsive th, .table-responsive td {
    min-width: 180px !important;
  }
  .navbar-header .btn {
    padding-left: 7px !important;
    padding-right: 7px !important;
  }
  .nav li {
    -webkit-margin-end: 5px;
            margin-inline-end: 5px;
    margin-bottom: 10px;
  }
  .nav li a {
    width: 140px !important;
  }
  .page-title-box {
    padding-top: 30px !important;
  }
  .nav-pills .nav-link {
    font-size: 15px !important;
  }
  .mobile-none {
    display: none !important;
  }
  .navbar-header .dropdown .dropdown-menu {
    left: 0 !important;
    right: 0px !important;
  }
}
@media (max-width: 321px) {
  .dt-buttons.btn-group .btn {
    padding: 0.47rem 0.1rem !important;
  }
}/*# sourceMappingURL=style.css.map */